*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body{


    background-color: #1e1e1e;


     font-family: sans-serif;

     color: #a0a0a0;

     line-height: 1.6;
    }

    .main-container{

        display: grid;
        max-width: 1200px;
        grid-template-columns: 350px 1fr;
        gap: 50px;
        padding-top:40px;
        margin: auto;
        
    }

    .sidebar{

        height: 90vh;
        background-color: #2a2a2a;
        border-radius: 16px;

        border: 1px solid #3a3a3a;
        padding: 30px;
        position: sticky;
        top: 40px;
        


    }

    .main-content{

      
        /* height: 90vh; */
        background-color: #2a2a2a;
                border-radius: 16px;

        border: 1px solid #3a3a3a;

        padding: 40px;
    }

    /* profile section create chessanu */


    .profile img{

        height: 100px;
        width: 100px;
        border-radius: 50px;
        border: 1px solid #3a3a3a;
    }



    .profile h2{

        font-size: 1.5rem;
        font-weight: 700;
        margin-top: 20px;
        color: #e0e0e0;
    }

    .profile p{

        background-color: #1e1e1e;
        padding: 5px 15px;
        color: #ffbf00;
        border: 1px solid #3a3a3a;
        font-size: 0.8rem;
        border-radius: 8px;
        display: inline-block;
        margin-top: 10px;
        
    }

    .profile{

        text-align: center;
    }

    /* contact section idhi */


    .contact{

        margin: 30px;
        border-top: 2px solid #3a3a3a;
        padding-top: 20px;
    }

    .label{

        font-weight: 500;
        font-size: 0.8rem;
        color: #a0a0a0;
    }

    .value{
        color: #e0e0e0;
        text-decoration: none;

    }

    .email{

        margin-bottom: 15px;
    }

    .phone{

        margin-bottom: 15px;
    }


    /* social media raa idhi */

        .social{

            margin-top: 30px;
            border-top: 2px solid #3a3a3a;
            padding-top: 20px;
            text-align: center;
        }


        .social img{

            height: 24px;
            width:24px;

            margin-left: 10px;

            filter: grayscale(1)  invert(0.7);

            transition: filter 0.3s ease;
            
            
        }

        .social img:hover{

            filter: grayscale(0) invert(0);
        }



        /* main content start raa */


        /* Navigation ekda start */

        #navigation{

            
                        border-bottom: 2px solid #3a3a3a;

            margin-bottom: 20px;

            padding-bottom: 20px;

        }

        nav{
            display: flex;
            justify-content: flex-end;
            gap: 20px;
            
        }

        nav a{

            text-decoration: none;
            color:#a0a0a0;
            font-weight: 500;

            transition: color 0.3s ease;


            
        }


        .active ,nav a:hover{

            color: #ffbf00;
        }



/* About me */

.heading{

    color: #e0e0e0;
    font-size: 2rem;
    margin-bottom: 15px;
}

.line{
    width: 60px;
    height: 5px;
    background-color: #ffbf00;
    margin-bottom: 15px;
}

.content{

    text-align: justify;
    color: #a0a0a0;

}

#about{

    margin-bottom: 40px;
}

/* My skills raa idhi */


.grid-container{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
    gap: 30px;
}

.item{
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
    text-align: center;
    margin-top: 20px;
    transition: transform 0.3s ease;
    
    
}

.item img{

    height: 48px;
    width: 48px;
    margin-bottom: 20px;
    filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness(110%) contrast(101%);
}

.item h3{

    height: 1rem;
    font-weight: 500;
}

.item:hover{

    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);

}


/* education setion raa idhi */



#education{
    margin-top: 30px;


}


.edtech{

    /* padding-left:20px; */

    position: relative;

    margin-top: 20px;

}
.year{
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 5px;
}

.degree{

    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 500px;
    margin-bottom: 5px;
}

.college{

    font-style: italic;
    color: #a0a0a0;
    margin-bottom: 10px;
}

.work{

    color: #a0a0a0;

}

.edfirst{
    position: relative;
    padding: 25px;

    margin-bottom: 20px;
}

.goal{

    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #ffbf00;
    border: 3px solid #ffbf00;
    z-index: 5;
    position: absolute;
    top: 0px;
    left: -6px;

}

.liner{
    position: absolute;
    width:2px ;

    top: 0px;
    bottom: 0px;
    border: 2px solid #3a3a3a;
}


/* protfolio raa idhi */

.project-container{

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 30px;
}

.project img{

    height: 180px;
    width: 100%;
    object-fit: cover;

}

.project{

    background-color: #1e1e1e;
    border-radius: 12px;
    border: 1px solid #3a3a3a;
    overflow: hidden;
    transition: transform 0.5s ease,box-shadow 0.5s ease;
}

.project:hover{
    transform: translateY(-5px);
    box-shadow: 0px 0px 10px 5px rgb(0,0,0,0.3);
}

.card{
    margin: 10px;
    padding: 20px;
}


.card h3{

    color: #e0e0e0;
    margin-bottom: 10px;

}


.card p{

    color: #a0a0a0;
    line-height: 1.6;
    margin-bottom: 20PX;

}

.card span{

        padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.75rem;
    margin-right: 5px;
    color: #ffbf00;
    background-color: rgb(255,191,0,0.1);
}

@media screen and (max-width:1200px) {
    .main-container{
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .sidebar{
        position: static;
        height: auto;
    }
}

@media screen and (max-width:750px) {
    .project-container{
        grid-template-columns: 1fr;
    }

    #navigation nav {
        /* Adjust nav for smaller screens */
        justify-content: center;
        flex-wrap: wrap;
    }

    .sidebar{
        display: flex;
        justify-content: center;
        gap: 40px;
    }
}












